.PhoneBook {
    max-width: 900px;
    margin: 20px auto;
}
.Contacts {
    max-width: 900px;
    margin: 20px auto;
    overflow: auto;
    height: 700px;
}

.Contact{
    border: 1px solid #cccccc;
    height: 100px;
    padding: 10px;
    margin: 10px;
}
.Image{
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px 25px 10px 10px;
}
.ShowMore{
    background: lightseagreen;
    border: transparent;
    border-radius: 5px;
    padding: 7px;
    color: white;
    font-weight: bold;
}
