.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid lightseagreen;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.ModalButton {
    padding: 10px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    background: lightseagreen;
    margin: 0 15px;
}
.ModalButtonDel {
    padding: 10px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    background: lightseagreen;
    float: right;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
