.ContactForm {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.ContactForm input,
.ContactForm button
 {
    display: block;
    margin: 15px auto;
    padding: 10px;
}


.ContactForm input{
    width: 86%;
    border: 1px solid lightseagreen;
}

.ContactForm button {
    background: lightseagreen;
    border: transparent;
    border-radius: 5px;
}

.Preview{
    width: 100px;
    margin: 15px auto;
}